
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ömer Faruk Genç</title>
</head>
<body>
    <div>
        Burası bir layout
    </div>
    <div>
        Burası bir layout
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
