
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>Profilim</p>
<p>Tüm Başlıklarda Sayfalama</p>
<p>Mesajlarda Session</p>
<p>Oturumun Mimariye taşınması</p>
<p>Token Kullanımı</p>


