
@{
    ViewBag.Title = "SweetAlert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<button class="btn btn-primary" id="btn1">Button1</button>
<button class="btn btn-success" id="btn2">Button2</button>
<button class="btn btn-danger" id="btn3">Button3</button>

<script>
    $('#btn1').click(function () {
        swal("Hello world!");
    });
</script>
<script>
    $('#btn2').click(function () {
        swal("Good job!", "You clicked the button!", "success");    });
</script>
<script>
    $('#btn3').click(function () {
        swal({
            title: "Good job!",
            text: "You clicked the button!",
            icon: "success",
            button: "Aww yiss!",
        });
    });
</script>